/* Card.module.css */
.card {
    width: 30%;
}

.cardButton {
    font-size: 0.8rem;
    background-color: #ffc247;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    margin-top: auto;
    text-decoration: none;
}